<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  
<% if @challenge.estimate.blank? %>  
  <div class="field">
    <%= f.label :estimate %><br />
    <%= f.text_field :estimate %>
  </div>
  <div id="minSlider"></div>
  <div id="hourSlider"></div>
  <div id="daySlider"></div>
<% else %>
  <div class="field">
    <%= f.label :estimate %><br />
    <%= @challenge.estimate %>
  </div>
<% end %>

<% if @challenge.started_at.blank? %>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
<% else %>
  <div class="field">
    <%= f.label :stopped_at %><br />
    <%= f.datetime_select :stopped_at %>
  </div>
  <div class="field">
    <%= f.label :completedin %><br />
    <%= f.text_field :completedin %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @challenge.started_at.present? %>
	<%= form_for(@challenge) do |f| %>
		<%= f.hidden_field(:aborted_at, :value => 'now') %>
	    <%= f.submit 'Abort now!' %>
	<% end %>
<% end %>
