<p id="notice"><%= notice %></p>

<% if !@challenge.done? %>

  <div>BIG clock goes here!!!</div>
  <div>ETA: <%= @challenge.estimated_stop_date %> </div>
  <%= render :partial => 'stop_abort_buttons' %>
<% else %>
  <div>Estimated stopping time was: <%= @challenge.estimated_stop_date %> </div>
  <% unless @challenge.aborted? %>
  <div>Your estimate was:
    <% if @challenge.estimated_stop_date > @challenge.stopped_at %>
      Short by <%= @challenge.estimated_stop_date - @challenge.stopped_at %>
    <% else %>
      Over by <%= @challenge.stopped_at - @challenge.estimated_stop_date %>
    <% end %>
    seconds
  </div>
  <% end %>
<% end %>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Estimate:</b>
  <%= @challenge.estimate %>
</p>

<p>
  <b>Started at:</b>
  <%= @challenge.started_at %>
</p>

<p>
  <b>Stopped at:</b>
  <%= @challenge.stopped_at %>
</p>

<p>
  <b>Completedin:</b>
  <%= @challenge.completedin %>
</p>

<p>
  <b>User:</b>
  <%= @challenge.user_id %>
</p>

<p>
  <b>Aborted at:</b>
  <%= @challenge.aborted_at %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
