<!DOCTYPE html>
<<<<<<< HEAD
<html>

<head>
  <title>Timecast</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

  <script>

  function getEstimateTime()
  {
    val = $('#minSlider').val();
    val += 60 * $('#hourSlider').val();
    val += 24*60 * $('#daySlider').val();

  }
  $('#minSlider').slider({
    orientation: 'horizontal',
    min: 0,
    max: 60,
    value: 0
  }).bind( "slidechange", function(event, ui) {
    $('challenge_estimate').val(getEstimatetime()) 
  });
  $('#hourSlider').slider({
    orientation: 'horizontal',
    min: 0,
    max: 24,
    value: 0
  }).bind( "slidechange", function(event, ui) {
    $('challenge_estimate').val(getEstimatetime()) 
  });
  $('#daySlider').slider({
    orientation: 'horizontal',
    min: 0,
    max: 365,
    value: 0
  }).bind( "slidechange", function(event, ui) {
    $('challenge_estimate').val(getEstimatetime()) 
  }); 

  $( ".selector" ));
  </script>
</head>
<body>
  <div class="loginbox">
    <% if logged_in? %>
      Logged in as: <%= current_user.login %>
      <%= link_to 'logout', logout_path %>
    <% else %>
      <%= link_to 'login', login_path %> OR  <%= link_to 'signup', signup_path %> 
    <% end %>
  </div>
  <% if flash[:error].present? %>
  <div class="flash error">
    <h1><%= flash[:error] %></h1>
  </div>
  <% end %>

<%= yield %>

</body>
=======
    <head>
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    </head>
    <body>
		    <%= yield %>
    </body>
>>>>>>> 11a808a5185b1f584f55be73d2affbdce54073d0
</html>
